{% extends "layout.html" %}
{% block content %}
<main>
    <ul class="page-nav">
        <li style="width: 100vw;">
            <form  class="d-flex" role="search" method="POST" action="/questoes/busca">
                
                <input type="search" style="align-self: end;" class="form-control me-2" name="questaoBusca" id="questaoBusca"
                placeholder="Pesquisar">
                
                <button type="submit" class="btn btn-outline-success" title="pesquisar" class="btn btn-primary"
                href="{{ url_for('questao_busca', questaoBusca = questaoBusca) }}">
                Pesquisar
            </button>
            <a class="btn btn-outline-success" style="margin-left: 7rem; width: 40%;" href="{{ url_for('questoes_novo') }}">Cadastro</a>
        </form>
        </li>
    </ul>

    <h2>Lista de Questoes</h2>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Num Questão</th>
                <th>Topico</th>
                <th>Enunciado</th>
                <th>Alternativas</th>
                <th>Resposta</th>
            </tr>
        </thead>
        <tbody>
            {% for questao in questoes %}
            <tr>
                <td>{{questao.numQuest}}</td>
                <td>
                    {% for topicos in questao.topico %}
                    {{topicos}}
                    {% endfor %}
                </td>
                <td>{{questao.enunciado}}</td>
                <td>
                    {% for alternativa in questao.alternativas %}
                    <ul>
                        {{alternativa.alt}}<span>)</span>
                        {{alternativa.op}}
                        <br>
                    </ul>
                    {% endfor %}
                </td>
                <td>
                    {% for alternativa in questao.alternativas %}
                    {% if loop.index == questao.resposta %}
                    {{alternativa.alt}}
                    {% endif %}
                    {% endfor %}
                </td>
                <td class="actions">
                    <a title="editar" class="btn btn-warning" href="{{ url_for('questoes_editar', id=questao._id) }}">
                        <i class="bi bi-pencil-square"></i>
                    </a>
                    <a title="deletar" class="btn btn-danger" href="{{ url_for('questoes_delete', id=questao._id) }}">
                        <i class="bi bi-x-circle"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>

{% endblock %}